*, 
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: linear-gradient(to bottom, #615dad, #ffc8da);
    height: 115vh;
}

/* style base */
/* typography */

.heading {
    font-family: 'Lobster', cursive;
    font-weight: 400;
    color: white;
}

.heading--primary {
    font-size: 3rem;
    margin: 24px 0;
    text-align: center;
}

/* buttons */

.button {
    font-size: 1.1rem;
    color: white;
    padding: 15px 20px;
    display: block;
    text-decoration: none;
    cursor: pointer;
}

.button--primary {
    background-color: #0197f6;
    margin-top: 1px;
}

.button--primary:hover, 
.button--primary:focus {
    background-color: #0090e9;
}

.button--secondary {
    background-color: #1fcca4;
}

.button--secondary:hover, 
.button--secondary:focus {
    background-color: #1cbb96;
}

.button--icon {
    display: inline-block;
    padding: 12px;
    border-radius: 5px;
}


/* style pages */
/* style for index.html */

.card {
    margin: 48px auto;
    max-width: 430px;
    color: white;
    background-color: #283e50;
    text-align: center;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}


.card__img {
    width: 100%;
}


.card__content {
    padding: 20px;
    padding-top: 0;
    font-weight: 400;
    line-height: 1.7;
}



/* style for hra.html */

.game {
    margin: 0 auto;
    max-width: 80vmin;
}

.game__title {
    font-size: 3.5rem;
}

.game__info-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.game__info {
    align-self: center;
    display: flex;
    gap: 15px;
}

.game__info-text {
    color: white;
    text-transform: uppercase;
    font-size: 1.5rem;
    align-self: center;
    font-weight: 600;
}

.game__infography {
    display: inline-block;
    width: 1.6rem;
    height: 1.6rem;
    border: 3px solid white;
    border-radius: 50%;
    align-self: center;
}

.game__playing-area {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    border: 1px solid #283e50;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.game__playing-field {
    background-color: #dac5de79;
    height: 8vmin;
    border: 1px solid #283e50;
    padding: 0;
}

.game__playing-field:hover, 
.game__playing-field:focus {
    background-color: #ffffff6f;
}