* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: linear-gradient(to bottom, #615dad, #ffc8da);
    height: 100vh;
}

.card {
    margin: 48px auto;
    max-width: 430px;
    color: white;
    background-color: #283e50;
    text-align: center;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}


.card__img {
    width: 100%;
}

.card__title {
    font-family: 'Lobster', cursive;
    font-size: 3rem;
    font-weight: 400;
    margin: 24px 0;
}

.card__content {
    padding: 20px;
    padding-top: 0;
    font-weight: 400;
    line-height: 1.7;
}

.button {
    font-size: 1.1rem;
    color: white;
    padding: 15px 20px;
    display: block;
    text-decoration: none;
    cursor: pointer;
}

.button--primary {
    background-color: #0197f6;
    margin-top: 1px;
}

.button--primary:hover {
    background-color: #0090e9;
}

.button--secondary {
    background-color: #1fcca4;
}

.button--secondary:hover {
    background-color: #1cbb96;
}