*, 
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: linear-gradient(to bottom, #615dad, #ffc8da);
    height: 100vh;
}

/* style base */
/* typography */

.heading {
    font-family: 'Lobster', cursive;
    font-weight: 400;
    color: white;
}

.heading--primary {
    font-size: 3rem;
    margin: 24px 0;
    text-align: center;
}

/* buttons */

.button {
    font-size: 1.1rem;
    color: white;
    padding: 15px 20px;
    display: block;
    text-decoration: none;
    cursor: pointer;
}

.button--primary {
    background-color: #0197f6;
    margin-top: 1px;
}

.button--primary:hover, 
.button--primary:focus {
    background-color: #0090e9;
}

.button--secondary {
    background-color: #1fcca4;
}

.button--secondary:hover, 
.button--secondary:focus {
    background-color: #1cbb96;
}

.button--icon {
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
}


/* style pages */
/* style for index.html */

.card {
    margin: 48px auto;
    max-width: 430px;
    color: white;
    background-color: #283e50;
    text-align: center;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}


.card__img {
    width: 100%;
}


.card__content {
    padding: 20px;
    padding-top: 0;
    font-weight: 400;
    line-height: 1.7;
}



/* style for hra.html */

.game {
    margin: 0 auto;
    max-width: 80vmin;
}

.game__title {
    font-size: 3.2rem;
    margin: 10px 0 8px 0;
}

.game__info-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.game__info {
    align-self: center;
    display: flex;
    gap: 15px;
}

.game__info-text {
    color: white;
    text-transform: uppercase;
    font-size: 1.4rem;
    align-self: center;
    font-weight: 600;
}

.game__infography-circle {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    border: 3px solid white;
    border-radius: 50%;
    align-self: center;
}

.game__infography-cross {
    display: inline-block;
    position: relative;
    height: 1.9rem;
    width: 3px;
    background-color: white;
    align-self: center;
    transform: rotate(45deg);
    margin: 0 10px;
}

.game__infography-cross::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    height: 1.9rem;
    width: 3px;
    background-color: white;
    align-self: center;
    transform: translate(-50%, -50%) rotate(90deg);
}

.game__playing-area {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    border: 1px solid #283e50;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, 
                rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, 
                rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.game__playing-field {
    background-color: #dac5de71;
    height: 8vmin;
    border: 1px solid #283e50;
    padding: 0;
}

.game__playing-field:hover, 
.game__playing-field:focus {
    background-color: #ffffff6f;
}

.game__playing-field--circle {
    background-image: url(circle.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    animation: increase .15s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.game__playing-field--cross {
    background-image: url(cross.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 55%;
    animation: increase .15s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

/* Animace */

@keyframes increase {
    0% {
        background-size: 0%;
    }

    100% {
        background-size: 60%;
    }
}